.container-fluid{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
                    rgba(56, 55, 54, 0.6)),url(../assets/torcida.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center"
                }